#menu {
	margin:0;
	padding:0;
}

#menu ul{
	width: 105px;
	margin:0;
	padding:1px;
	border:1px solid #3399CC;
}
#menu li{
	display:marker;
	list-style:none;
	padding-bottom:1px;
}
#menu li a{
	display:block;
	font-family:Tahoma, Geneva, sans-serif;
	font-size:11px;
	font-weight:bold;
	color:#000000;
	text-shadow:#FFF 1px 1px 1px;
	text-decoration:none;
	background-color:#e8edff;
	padding:5px;
	border-left:10px solid #6699CC;
}
#menu li a:hover{
	border-left:14px solid #6699CC;
	background-color:#d0dafd;
}

.tb8 {
	width: 109px;
	border: 1px solid #6699CC;
	border-left: 10px solid #6699CC;
	background-color : #e8edff;
}
.fb9 {
	width: 109px;
	border: 1px solid #3366FF;
	background-color:#B3C6FF;
}
.fb9:hover {
	border: 2px dotted #000000;
	color:#000000;
	font-weight:bold;
}